{
  name: 'Samsung Galaxy Tab E Lite 7',
  category: 'Electronics',
  model: 'SM-T113NDWAXAR',
  price: 97.99,
  image: 'https://images-na.ssl-images-amazon.com/images/I/71W4dbBvxJL._SL1500_.jpg',
  details: 'Samsung Galaxy Tab E Lite 7in 8 GB Wifi Tablet (White)',
}
